body {
    background-image: url("../images/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: #dad8d8;
}

.negroid {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.negroid-image {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.negroid-image img {
    display: block;
}

.negroid-image:hover {
    box-shadow: 8px 15px 15px 10px #888888;
    transition: 0.3s ease-out;
}
